<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th>Model<th>
      <th>File Text</th>
    </tr>
  <thead>
  <tbody>
    <tr>
      <td><%=  @car.model %></td>
      <td><%=  @car.file_text %></td>
    <tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
